/* To override the browser default styling */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Css values used accross the site such as the colors values, the brakpoints, ... */
/* The styling common to all pages such as the font-size, the titles, the links, the navigation bar, the footer */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html {
  color: #222;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  line-height: 1.4;
  font-family: 'Raleway', 'sans-serif';
  margin: 0 auto;
  background: #f7f7f7;
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #222;
  padding: 0.2em 0; }

a {
  color: #1e7fcb;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
  color: #03224c;
  padding: 1.5rem 0; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3rem; } }

h3 {
  margin: 0;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 2rem; } }

h4 {
  font-size: 1.2rem; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.5rem; } }

h5 {
  margin: 0;
  font-size: 1.2rem; }

.main {
  margin-bottom: 1em; }

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  background-color: #03224c;
  padding: 1em;
  width: 100vw;
  margin: 0 -13%; }
  .footer__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center; }
  .footer__logo {
    flex: 1; }
  .footer__itemList {
    display: flex;
    flex: 2;
    justify-content: space-between; }
  .footer__item {
    display: flex; }
  .footer__logo {
    width: 24px;
    color: #fff; }
  .footer__link {
    color: white;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 0.6rem; }

/* ==========================================================================
   Navigation bar
   ========================================================================== */
.menu {
  position: sticky;
  top: 0;
  margin: 0;
  height: 4.5rem;
  background: #03224c;
  width: 100vw;
  margin: 0 -13%; }
  .menu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; }
  .menu__navigationBar {
    margin-block-start: 0;
    margin-block-end: 0;
    height: 100%; }
  .menu__navigationBarItem, .menu__logo {
    padding: 1rem; }
  .menu__navigationBarItem {
    cursor: pointer;
    text-align: center; }
    .menu__navigationBarItem:not(:last-child) {
      border-bottom: 1px solid white; }
      @media (min-width: 768px) {
        .menu__navigationBarItem:not(:last-child) {
          border-bottom: none; } }
    .menu__navigationBarItem:hover {
      background-color: #0071a4; }
  .menu__navigationBarLink {
    color: white; }
    .menu__navigationBarLink:hover {
      text-decoration: none; }
  .menu__navigationTogglerLabelWrapper {
    display: inline-block;
    position: absolute;
    padding: 1rem;
    height: 4.5rem;
    right: 0;
    top: 0; }
  .menu__navigationToggler {
    display: none; }
  .menu__navigationTogglerLabel {
    display: inline-block; }
  .menu__navigationTogglerLine {
    display: block;
    width: 25px;
    border-top: 2px solid #eee; }
    .menu__navigationTogglerLine:not(:last-child) {
      height: 10px; }
  .menu__navigationBarWrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 4.5rem;
    left: 0; }
  .menu__navigationToggler:not(:checked) ~ .menu__navigationBarWrapper {
    height: 0px; }
  .menu__navigationToggler:checked ~ .menu__navigationBarWrapper {
    height: calc(100vh - 4.5rem);
    overflow-y: auto; }
  .menu__navigationToggler:checked ~ .menu__navigationTogglerLabelWrapper, .menu__navigationToggler:checked ~ .menu__navigationBarWrapper {
    background-color: #0071a4;
    color: white; }
  @media (min-width: 768px) {
    .menu__navigationBarWrapper {
      position: initial;
      height: initial;
      transition: none;
      overflow-y: auto; }
    .menu__navigationTogglerLabelWrapper {
      display: none; }
    .menu__navigationToggler:not(:checked) ~ .menu__navigationBarWrapper, .menu__navigationToggler:checked ~ .menu__navigationBarWrapper {
      height: initial;
      background-color: initial; }
    .menu__navigationBar {
      display: flex;
      width: 100%;
      justify-content: flex-end; } }

/* ==========================================================================
      Media Queries
      ========================================================================== */
/* ==========================================================================
      Helper classes
      ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: '';
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* The different pages specific styling */
/* Sessions */
.sessions,
.speakers {
  margin: 1rem 0;
  background: #fff;
  border-radius: 0.5em;
  padding: 1em 1em 2em 1em;
  border: 1px solid #cecece; }
  .sessions__title,
  .speakers__title {
    color: #aaa5a5;
    margin: 0; }

.talks {
  margin-bottom: 1em;
  padding: 0.5em;
  color: #222;
  border-top: 1px dashed #ddd; }
  .talks__date {
    color: #aaa5a5;
    vertical-align: bottom; }
  .talks__session {
    color: #03224c;
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .talks__session {
        flex-direction: row;
        justify-content: space-between; } }
  .talks__title {
    display: block;
    margin: 0.5em 0 0 0;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      .talks__title {
        font-size: 1.5rem; } }
  .talks__speaker {
    display: block;
    margin: 0;
    font-size: 1.2rem; }
    .talks__speaker a {
      margin-right: 1em;
      padding-left: 0.5em;
      border-left: 0.5em solid #1e7fcb; }

.talks iframe,
.talks .mu-widget {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em; }

.mu-widget a img {
  height: 28px; }

.talks p {
  margin: 0; }

.speakers__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
.speakers__item {
  margin-top: 1rem;
  display: flex; }
  @media (min-width: 768px) {
    .speakers__item {
      width: 30%; } }
.speakers__name {
  font-size: 1.2rem; }
  @media (min-width: 768px) {
    .speakers__name {
      font-size: 1.5rem; } }
.speakers__infos {
  margin-left: 1rem; }

.speakers li img {
  width: 100px;
  float: left;
  margin-right: 5px; }

/* The original print styling */
/* ==========================================================================
      Print styles
      ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
            * Don't show links for images, or javascript/internal links
            */
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid;
    color: white; } }

/*# sourceMappingURL=main.css.map */
