.talk {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__title {
        font-weight: bold;
        font-size: $font-size-md;
        color: $color-blue-cyan;
    }

    &__info{
        display: flex;
        margin: $space-sm 0;
    }
}

.speaker{

    &__avatarWrapper {
        height: 100px;
        width: 100px;
        margin-right: $space-lg;
    }
    
    &__avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &__name {
        font-weight: bold;
    }
}