.home {
  &__menuAndHeader {
    @include parallax('../img/people.jpg');
    @include fullscreen();
  }

  &__title {
    margin-top: 1rem;
  }
  &__titleWrapper {
    color: $color-blue-dark;
    padding: $space-xl;
  }

  &__menu.menu {
    background-color: transparent;
    .menu__title {
      color: $color-blue-dark;
    }
    .menu__navigationBarLink {
      color: $color-white-smoke;
      &:hover {
        color: $color-white-smoke;
      }
      @media (min-width: $devices-min-width-md) {
        color: $color-blue-dark;
      }
    }
    .menu__navigationTogglerLine {
      border-top-color: $color-blue-dark;
    }
  }
}

.about {
  &__meetup {
    border-left: $color-blue-cyan 0.5rem solid;
    margin-top: $space-lg;
    display: flex;
    align-content: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    @media (min-width: $devices-min-width-lg) {
      font-size: $font-size-md;
    }
  }
  &__meetupLogo {
    width: 70px;
    @media (min-width: $devices-min-width-lg) {
      width: 100px;
    }
    margin: 0 0.5em;
  }
}

/* Sessions */

.session {
  margin: $space-lg 0 $space-xl;
  background: $color-white;
  border-radius: $border-radius-md;
  padding: $space-lg;
  border: $border-thin solid $color-light-grey;

  &__title {
    display: flex;
    flex-direction: column;
    color: $color-medium-grey;
    margin: 0;
    @media (min-width: $devices-min-width-lg) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__talk {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.talks,
.sponsors {
  padding: 0.5em;
  border-top: 1px dashed $color-medium-grey;
}

.talks {
  &__title {
    display: block;
    margin: 0.5em 0 0 0;
    font-size: $font-size-sm;
    @media (min-width: $devices-min-width-md) {
      font-size: $font-size-md;
    }
  }

  &__speaker {
    display: block;
    margin: 0;
    font-size: $font-size-sm;

    a {
      margin-right: 1em;
      padding-left: 0.5em;
      border-left: 0.5em solid $color-blue-cyan;
    }
  }
}

.talks iframe,
.talks .mu-widget {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.mu-widget a img {
  height: 28px;
}

.talks p {
  margin: 0;
}

.speakers {
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__item {
    margin-top: $space-lg;
    display: flex;
    @media (min-width: $devices-min-width-md) {
      width: 30%;
    }
  }

  &__name {
    font-size: $font-size-sm;
    @media (min-width: $devices-min-width-md) {
      font-size: $font-size-md;
    }
  }

  &__infos {
    margin-left: $space-lg;
  }
}

.speakers li img {
  width: 100px;
  float: left;
  margin-right: 5px;
}

.sponsors {
  &__list {
    margin-top: $space-lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $devices-min-width-md) {
      display: block;
    }
  }
}

$logo-width: 200px;
$logo-height: 60px;
.sponsor {
  &__link {
    width: $logo-width;
    height: $logo-height;
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: $space-lg;
    }
    @media (min-width: $devices-min-width-md) {
      margin-right: $space-xl;
      margin-bottom: 0;
    }
  }
  &__logo {
    max-height: 100%;
    max-width: 100%;

    &--RivieraDEV {
      max-height: none;
    }
  }
}
