.team {
  margin: 1em auto;

  &__menu {
    position: sticky;
    top: 0;
    @include fullscreen;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: $space-lg;
  @media (min-width: $devices-min-width-sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $devices-min-width-xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__member {
    border: solid $border-thin $color-light-grey;
    border-radius: $border-radius-md;
    padding: $space-lg;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
  }

  &__memberName {
    font-size: 1.2rem;
    margin: 0.5rem auto;
    text-align: center;
    @media (min-width: $devices-min-width-md) {
      font-size: 1.5rem;
    }
  }

  &__photoWrapper {
    height: 100px;
    width: 100px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
