.talk {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__title {
    font-weight: bold;
    font-size: $font-size-md;
    color: $color-blue-cyan;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $space-sm 0;
    @media (min-width: $devices-min-width-sm) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__slide {
    display: block;
    margin: 1rem 0 0;
    @media (min-width: $devices-min-width-sm) {
      display: inline;
      vertical-align: text-bottom;
      margin: 0 0 0 1rem;
    }
  }

  &__url {
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background-color: $color-blue-cyan;
    color: white;
    transition: all 0.2s ease-in-out;
    font-weight: normal;

    &:hover {
      text-decoration: none;
      background-color: $color-blue-dark;
    }
  }
}
